<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-02-19T17:21:04Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Progress</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://xanadu.gornall.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-22T16:35:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/ical_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cHlWAQof57i2
								KodHxdwX7w==
								</data>
								<key>Size</key>
								<integer>4166</integer>
							</dict>
							<key>files/icon_smile.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								NTmZR59cCA9y
								ywhA682XwQ==
								</data>
								<key>Size</key>
								<integer>93</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/image_stack_img_431.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IHiD7GnP2A4d
								JCrXIlqyfw==
								</data>
								<key>Size</key>
								<integer>259691</integer>
							</dict>
							<key>files/image_stack_img_563.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bFWgYIWn+MVN
								MMBJowJOSw==
								</data>
								<key>Size</key>
								<integer>69093</integer>
							</dict>
							<key>files/lg_540.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZvOymVYxBl/h
								aqlWW+G3AA==
								</data>
								<key>Size</key>
								<integer>10122</integer>
							</dict>
							<key>files/sq_540.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Yz9EBcLt3+lS
								5bZEb5j6wQ==
								</data>
								<key>Size</key>
								<integer>13411</integer>
							</dict>
							<key>files/stacks-image-06b7e34-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l974C885vtz/
								zq4Dmg3QSA==
								</data>
								<key>Size</key>
								<integer>139295</integer>
							</dict>
							<key>files/stacks-image-06b7e34-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dECkJmSI+Q6/
								/QoGeIY/OQ==
								</data>
								<key>Size</key>
								<integer>244297</integer>
							</dict>
							<key>files/stacks-image-146cf28.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Tt5YHYCncfwK
								5XGajhMb8g==
								</data>
								<key>Size</key>
								<integer>176283</integer>
							</dict>
							<key>files/stacks-image-1b0f9ab-1200x808.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6+8Eko11Xu3t
								Eifpl1I7rw==
								</data>
								<key>Size</key>
								<integer>407044</integer>
							</dict>
							<key>files/stacks-image-2d852bb.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l6nJLK1gAJqU
								oHNGfBG8VA==
								</data>
								<key>Size</key>
								<integer>58220</integer>
							</dict>
							<key>files/stacks-image-331cb91-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9mABenW26jBU
								BUsMfh632g==
								</data>
								<key>Size</key>
								<integer>196095</integer>
							</dict>
							<key>files/stacks-image-331cb91-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x2qjYZ/BwCHH
								X4f1LyOhOg==
								</data>
								<key>Size</key>
								<integer>432845</integer>
							</dict>
							<key>files/stacks-image-38c9f0c-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oWNmLucW11dP
								iufg4iGGrg==
								</data>
								<key>Size</key>
								<integer>178662</integer>
							</dict>
							<key>files/stacks-image-38c9f0c-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J2rJW7SOyzsc
								/EoJNnojkg==
								</data>
								<key>Size</key>
								<integer>288263</integer>
							</dict>
							<key>files/stacks-image-3f3f619-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HDj9KMZzdrQA
								qh8U5FgS2A==
								</data>
								<key>Size</key>
								<integer>211906</integer>
							</dict>
							<key>files/stacks-image-3f3f619-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IBXchNRfj3F5
								JgYL75e2wQ==
								</data>
								<key>Size</key>
								<integer>353352</integer>
							</dict>
							<key>files/stacks-image-589aabd.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gaBz7AfnD/Uu
								e4VGK9lagQ==
								</data>
								<key>Size</key>
								<integer>311412</integer>
							</dict>
							<key>files/stacks-image-5cc2cb3-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uUQ+gM8cQZM5
								Xsi5+w99wQ==
								</data>
								<key>Size</key>
								<integer>196192</integer>
							</dict>
							<key>files/stacks-image-5cc2cb3-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6cDJiFaEEj5D
								JzeeE+xyZg==
								</data>
								<key>Size</key>
								<integer>327335</integer>
							</dict>
							<key>files/stacks-image-6bc99dc-1200x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BPdbmTSGk2tl
								2TvS2dBpbg==
								</data>
								<key>Size</key>
								<integer>243997</integer>
							</dict>
							<key>files/stacks-image-7b0a322-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rb+upfdZEmaJ
								jbdbQ1PYJg==
								</data>
								<key>Size</key>
								<integer>184507</integer>
							</dict>
							<key>files/stacks-image-7b0a322-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VqwLuhxk1fTi
								aQfmrAqA2w==
								</data>
								<key>Size</key>
								<integer>309699</integer>
							</dict>
							<key>files/stacks-image-7db7829-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aeJmBTvw0J1R
								50CsKak3uw==
								</data>
								<key>Size</key>
								<integer>231392</integer>
							</dict>
							<key>files/stacks-image-7db7829-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QNFyVztDxeHS
								W3G9LXJwPA==
								</data>
								<key>Size</key>
								<integer>387051</integer>
							</dict>
							<key>files/stacks-image-8236940-1200x804.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nGryLMR8lpBy
								e1T20ivaHA==
								</data>
								<key>Size</key>
								<integer>348635</integer>
							</dict>
							<key>files/stacks-image-87d786f-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jYiax/rLfoq3
								/ws5T6N/+g==
								</data>
								<key>Size</key>
								<integer>170561</integer>
							</dict>
							<key>files/stacks-image-87d786f-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Fg6oYF1kvKR
								6wzRLRigqQ==
								</data>
								<key>Size</key>
								<integer>273169</integer>
							</dict>
							<key>files/stacks-image-8a59cd9-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a/1REw9iZmEH
								WUnMoeAQkg==
								</data>
								<key>Size</key>
								<integer>185848</integer>
							</dict>
							<key>files/stacks-image-8a59cd9-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OtcOdiZPMmDK
								QSW4qzHJ5g==
								</data>
								<key>Size</key>
								<integer>291776</integer>
							</dict>
							<key>files/stacks-image-a16139d-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YxM7COA+FY5D
								DPPtjycM7g==
								</data>
								<key>Size</key>
								<integer>147148</integer>
							</dict>
							<key>files/stacks-image-a16139d-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pB6XC/twdm/0
								6sPYbXuYow==
								</data>
								<key>Size</key>
								<integer>275534</integer>
							</dict>
							<key>files/stacks-image-a2934aa-1200x390.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zd596VOmNYYs
								xSiUSEYR4w==
								</data>
								<key>Size</key>
								<integer>79795</integer>
							</dict>
							<key>files/stacks-image-a6dd7ac.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dt76V3k5eumo
								IUJ8yf3TpQ==
								</data>
								<key>Size</key>
								<integer>34403</integer>
							</dict>
							<key>files/stacks-image-a88727f-1200x1024.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8GwIHBav5wZ3
								k7kJvXGVLA==
								</data>
								<key>Size</key>
								<integer>1065127</integer>
							</dict>
							<key>files/stacks-image-aeac438-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o2Ovif83+s2v
								0agYeiJCvQ==
								</data>
								<key>Size</key>
								<integer>202722</integer>
							</dict>
							<key>files/stacks-image-aeac438-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q0jH2PfAJJx/
								pLye+hXOJw==
								</data>
								<key>Size</key>
								<integer>339787</integer>
							</dict>
							<key>files/stacks-image-bb25885.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N8h+GcqjVClg
								zvZW061adw==
								</data>
								<key>Size</key>
								<integer>75532</integer>
							</dict>
							<key>files/stacks-image-d5db81c-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iki5cwmX25kG
								ZiXC5/4Wjw==
								</data>
								<key>Size</key>
								<integer>347516</integer>
							</dict>
							<key>files/stacks-image-d5db81c-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gA7f6NoFCYX0
								v9iXLeVqOw==
								</data>
								<key>Size</key>
								<integer>607124</integer>
							</dict>
							<key>files/stacks-image-d7944c2-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gS7w5JdH2zkp
								5Y3OouZ/zw==
								</data>
								<key>Size</key>
								<integer>255474</integer>
							</dict>
							<key>files/stacks-image-d7944c2-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dhlhmg3hO0Pj
								XVWPDwCeYw==
								</data>
								<key>Size</key>
								<integer>509111</integer>
							</dict>
							<key>files/stacks-image-db3f88d-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gm23P3aeT11F
								rG/CuV2jUQ==
								</data>
								<key>Size</key>
								<integer>249131</integer>
							</dict>
							<key>files/stacks-image-db3f88d-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pQsVl92b13PK
								9g2aGVyzQw==
								</data>
								<key>Size</key>
								<integer>421888</integer>
							</dict>
							<key>files/stacks-image-dcc796f.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wM35I77OZJ1L
								Eg9nnbatSA==
								</data>
								<key>Size</key>
								<integer>342149</integer>
							</dict>
							<key>files/stacks-image-df3951e-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r/z5jGEZQgxt
								y7Gl+9uoYQ==
								</data>
								<key>Size</key>
								<integer>253972</integer>
							</dict>
							<key>files/stacks-image-df3951e-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oAdaREdmfcyu
								ejCBRJs8Rw==
								</data>
								<key>Size</key>
								<integer>427863</integer>
							</dict>
							<key>files/stacks-image-e530c79-1200x854.png</key>
							<dict>
								<key>Digest</key>
								<data>
								molLdCBHHs75
								7ON4ytNb+A==
								</data>
								<key>Size</key>
								<integer>313361</integer>
							</dict>
							<key>files/stacks-image-e590feb-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6cvwWv+IbZDH
								sl9zpQbGTw==
								</data>
								<key>Size</key>
								<integer>177155</integer>
							</dict>
							<key>files/stacks-image-e590feb-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								90MkpVyxWyNe
								zXPEr3zuwA==
								</data>
								<key>Size</key>
								<integer>292773</integer>
							</dict>
							<key>files/stacks-image-ebde493-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5DeFkFuCwXnm
								9NdJ7qjPjw==
								</data>
								<key>Size</key>
								<integer>159330</integer>
							</dict>
							<key>files/stacks-image-ebde493-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AeYL6O6KmERY
								NqKzEJpCNQ==
								</data>
								<key>Size</key>
								<integer>257089</integer>
							</dict>
							<key>files/stacks-image-f41c7eb-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uwgq7cPBZ7bj
								c5Gkq/0Xew==
								</data>
								<key>Size</key>
								<integer>157603</integer>
							</dict>
							<key>files/stacks-image-f41c7eb-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oTG6C+yJ69vD
								/ooajsf+ng==
								</data>
								<key>Size</key>
								<integer>285593</integer>
							</dict>
							<key>files/stacks-image-f73b777-1200x808.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SapeIenUm7+K
								AmKd46QhJA==
								</data>
								<key>Size</key>
								<integer>353657</integer>
							</dict>
							<key>files/stacks-image-fdbc1ed-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UVPscKloz7gg
								tjJDTwFMsA==
								</data>
								<key>Size</key>
								<integer>143355</integer>
							</dict>
							<key>files/stacks-image-fdbc1ed-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HjUMLakBnvOA
								U2E4Oq09hg==
								</data>
								<key>Size</key>
								<integer>252931</integer>
							</dict>
							<key>files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vmhIC2Nb0n1
								6PBGw1S0eg==
								</data>
								<key>Size</key>
								<integer>205166</integer>
							</dict>
							<key>files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								7LdDiXmWWmmn
								qpUYGKfZWw==
								</data>
								<key>Size</key>
								<integer>41650</integer>
							</dict>
							<key>files/stacks_page_page5.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>files/th_540.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fRn3Ixsbf65K
								QzhM22BT7g==
								</data>
								<key>Size</key>
								<integer>18081</integer>
							</dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								y05gVbku9QS/
								oIj0fGNbrA==
								</data>
								<key>Size</key>
								<integer>206263</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>progress</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
