<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-02-19T17:21:04Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Progress</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://xanadu.gornall.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-12T15:11:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/ical_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cHlWAQof57i2
								KodHxdwX7w==
								</data>
								<key>Size</key>
								<integer>4166</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/image_stack_img_431.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IHiD7GnP2A4d
								JCrXIlqyfw==
								</data>
								<key>Size</key>
								<integer>259691</integer>
							</dict>
							<key>files/image_stack_img_484.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bFWgYIWn+MVN
								MMBJowJOSw==
								</data>
								<key>Size</key>
								<integer>69093</integer>
							</dict>
							<key>files/stacks-image-146cf28.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Tt5YHYCncfwK
								5XGajhMb8g==
								</data>
								<key>Size</key>
								<integer>176283</integer>
							</dict>
							<key>files/stacks-image-2d852bb.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l6nJLK1gAJqU
								oHNGfBG8VA==
								</data>
								<key>Size</key>
								<integer>58220</integer>
							</dict>
							<key>files/stacks-image-589aabd.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gaBz7AfnD/Uu
								e4VGK9lagQ==
								</data>
								<key>Size</key>
								<integer>311412</integer>
							</dict>
							<key>files/stacks-image-68fc5dc.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WN4RvOIIGPfe
								+v6OXDAWNg==
								</data>
								<key>Size</key>
								<integer>87874</integer>
							</dict>
							<key>files/stacks-image-a6dd7ac.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dt76V3k5eumo
								IUJ8yf3TpQ==
								</data>
								<key>Size</key>
								<integer>34403</integer>
							</dict>
							<key>files/stacks-image-a88727f-1200x1024.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8GwIHBav5wZ3
								k7kJvXGVLA==
								</data>
								<key>Size</key>
								<integer>1065127</integer>
							</dict>
							<key>files/stacks-image-bb25885.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N8h+GcqjVClg
								zvZW061adw==
								</data>
								<key>Size</key>
								<integer>75532</integer>
							</dict>
							<key>files/stacks-image-be1d075-1198x870.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zg86Anmbp2bD
								VrAWmJABHg==
								</data>
								<key>Size</key>
								<integer>354165</integer>
							</dict>
							<key>files/stacks-image-dcc796f.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wM35I77OZJ1L
								Eg9nnbatSA==
								</data>
								<key>Size</key>
								<integer>342149</integer>
							</dict>
							<key>files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6v9xEdS9O4Kb
								tADcYKA7GA==
								</data>
								<key>Size</key>
								<integer>165777</integer>
							</dict>
							<key>files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								bUs22u3NALp6
								H5WXfhYf1A==
								</data>
								<key>Size</key>
								<integer>39426</integer>
							</dict>
							<key>files/stacks_page_page5.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								MhhyVLCcO15w
								JF+cp1VRxA==
								</data>
								<key>Size</key>
								<integer>116694</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>page-5</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
