<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-02-19T17:21:04Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Progress</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://xanadu.gornall.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-15T20:50:55Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/ical_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cHlWAQof57i2
								KodHxdwX7w==
								</data>
								<key>Size</key>
								<integer>4166</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/image_stack_img_431.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IHiD7GnP2A4d
								JCrXIlqyfw==
								</data>
								<key>Size</key>
								<integer>259691</integer>
							</dict>
							<key>files/image_stack_img_563.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bFWgYIWn+MVN
								MMBJowJOSw==
								</data>
								<key>Size</key>
								<integer>69093</integer>
							</dict>
							<key>files/lg_540.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZvOymVYxBl/h
								aqlWW+G3AA==
								</data>
								<key>Size</key>
								<integer>10122</integer>
							</dict>
							<key>files/sq_540.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Yz9EBcLt3+lS
								5bZEb5j6wQ==
								</data>
								<key>Size</key>
								<integer>13411</integer>
							</dict>
							<key>files/stacks-image-146cf28.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Tt5YHYCncfwK
								5XGajhMb8g==
								</data>
								<key>Size</key>
								<integer>176283</integer>
							</dict>
							<key>files/stacks-image-2d852bb.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l6nJLK1gAJqU
								oHNGfBG8VA==
								</data>
								<key>Size</key>
								<integer>58220</integer>
							</dict>
							<key>files/stacks-image-331cb91-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9mABenW26jBU
								BUsMfh632g==
								</data>
								<key>Size</key>
								<integer>196095</integer>
							</dict>
							<key>files/stacks-image-331cb91-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x2qjYZ/BwCHH
								X4f1LyOhOg==
								</data>
								<key>Size</key>
								<integer>432845</integer>
							</dict>
							<key>files/stacks-image-38c9f0c-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oWNmLucW11dP
								iufg4iGGrg==
								</data>
								<key>Size</key>
								<integer>178662</integer>
							</dict>
							<key>files/stacks-image-38c9f0c-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J2rJW7SOyzsc
								/EoJNnojkg==
								</data>
								<key>Size</key>
								<integer>288263</integer>
							</dict>
							<key>files/stacks-image-589aabd.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gaBz7AfnD/Uu
								e4VGK9lagQ==
								</data>
								<key>Size</key>
								<integer>311412</integer>
							</dict>
							<key>files/stacks-image-5cc2cb3-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uUQ+gM8cQZM5
								Xsi5+w99wQ==
								</data>
								<key>Size</key>
								<integer>196192</integer>
							</dict>
							<key>files/stacks-image-5cc2cb3-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6cDJiFaEEj5D
								JzeeE+xyZg==
								</data>
								<key>Size</key>
								<integer>327335</integer>
							</dict>
							<key>files/stacks-image-7db7829-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aeJmBTvw0J1R
								50CsKak3uw==
								</data>
								<key>Size</key>
								<integer>231392</integer>
							</dict>
							<key>files/stacks-image-7db7829-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QNFyVztDxeHS
								W3G9LXJwPA==
								</data>
								<key>Size</key>
								<integer>387051</integer>
							</dict>
							<key>files/stacks-image-8236940-1200x804.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nGryLMR8lpBy
								e1T20ivaHA==
								</data>
								<key>Size</key>
								<integer>348635</integer>
							</dict>
							<key>files/stacks-image-a2934aa-1200x390.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zd596VOmNYYs
								xSiUSEYR4w==
								</data>
								<key>Size</key>
								<integer>79795</integer>
							</dict>
							<key>files/stacks-image-a6dd7ac.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dt76V3k5eumo
								IUJ8yf3TpQ==
								</data>
								<key>Size</key>
								<integer>34403</integer>
							</dict>
							<key>files/stacks-image-a88727f-1200x1024.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8GwIHBav5wZ3
								k7kJvXGVLA==
								</data>
								<key>Size</key>
								<integer>1065127</integer>
							</dict>
							<key>files/stacks-image-bb25885.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N8h+GcqjVClg
								zvZW061adw==
								</data>
								<key>Size</key>
								<integer>75532</integer>
							</dict>
							<key>files/stacks-image-d7944c2-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gS7w5JdH2zkp
								5Y3OouZ/zw==
								</data>
								<key>Size</key>
								<integer>255474</integer>
							</dict>
							<key>files/stacks-image-d7944c2-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dhlhmg3hO0Pj
								XVWPDwCeYw==
								</data>
								<key>Size</key>
								<integer>509111</integer>
							</dict>
							<key>files/stacks-image-dcc796f.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wM35I77OZJ1L
								Eg9nnbatSA==
								</data>
								<key>Size</key>
								<integer>342149</integer>
							</dict>
							<key>files/stacks-image-f73b777-1200x808.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SapeIenUm7+K
								AmKd46QhJA==
								</data>
								<key>Size</key>
								<integer>353657</integer>
							</dict>
							<key>files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								r+11wuIuildR
								lHouqTLEzg==
								</data>
								<key>Size</key>
								<integer>172928</integer>
							</dict>
							<key>files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								9NrsRSiAmbyu
								+97xCfCkZg==
								</data>
								<key>Size</key>
								<integer>39704</integer>
							</dict>
							<key>files/stacks_page_page5.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>files/th_540.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fRn3Ixsbf65K
								QzhM22BT7g==
								</data>
								<key>Size</key>
								<integer>18081</integer>
							</dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								lTIpZfsiSVnN
								0jthHO7CEA==
								</data>
								<key>Size</key>
								<integer>131875</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>progress</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
