<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-02-19T17:21:04Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://stage.oobergeek.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-02-22T18:21:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/ical_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cHlWAQof57i2
								KodHxdwX7w==
								</data>
								<key>Size</key>
								<integer>4166</integer>
							</dict>
							<key>files/stacks-image-a6dd7ac.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dt76V3k5eumo
								IUJ8yf3TpQ==
								</data>
								<key>Size</key>
								<integer>34403</integer>
							</dict>
							<key>files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cHT/kvajy6Xx
								69KdCugjgQ==
								</data>
								<key>Size</key>
								<integer>120332</integer>
							</dict>
							<key>files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								niTdftJBfRMU
								3Z5jvL88VA==
								</data>
								<key>Size</key>
								<integer>19025</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								R528+WtV1MRf
								hqi99eHhKA==
								</data>
								<key>Size</key>
								<integer>12207</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>page-5</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>sftp://xanadu.gornall.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-02-22T18:51:31Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/ical_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cHlWAQof57i2
								KodHxdwX7w==
								</data>
								<key>Size</key>
								<integer>4166</integer>
							</dict>
							<key>files/stacks-image-a6dd7ac.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dt76V3k5eumo
								IUJ8yf3TpQ==
								</data>
								<key>Size</key>
								<integer>34403</integer>
							</dict>
							<key>files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ukU5x6r1tGk1
								ng7Fv7XYdQ==
								</data>
								<key>Size</key>
								<integer>123909</integer>
							</dict>
							<key>files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								jivMZASUY3Wv
								wLEUcjqsAQ==
								</data>
								<key>Size</key>
								<integer>20666</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								H6nb6bL5ex+B
								y+b7ItLtyQ==
								</data>
								<key>Size</key>
								<integer>12806</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>page-5</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
