<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-01-29T05:40:47Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Light</string>
				<key>PageTitle</key>
				<string>XE host interface</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://xanadu.gornall.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-01T17:46:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/image_stack_img_11.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hyw+OKAB+wHI
								PPByM3gd6Q==
								</data>
								<key>Size</key>
								<integer>176542</integer>
							</dict>
							<key>files/stacks_page_page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								l7PjdjPdbntd
								4ErhnLjzkg==
								</data>
								<key>Size</key>
								<integer>132207</integer>
							</dict>
							<key>files/stacks_page_page2.js</key>
							<dict>
								<key>Digest</key>
								<data>
								fNPCtOmKt9FB
								CZC4cMAssw==
								</data>
								<key>Size</key>
								<integer>10788</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								30eHpD+RxILl
								++nZnWPF8w==
								</data>
								<key>Size</key>
								<integer>18598</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>page-2</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
